*

# Ignore all configurations except the default config and the template configurations
!.gitignore
!config.yml
!EP_colDefs.yml
!EP_auxillary_data_defs.yml
!user_path_definitions_template.yml
!monitoringInstructions.yml
!eddyProGroupDefs.yml